#!/usr/bin/env bash
# Install this repo

# Strict Bash
set -TCEeuo pipefail

echo ""

###################
# Project Env
# Project Environment are common project variables used in script
###################
echo "Project: "
export PROJECT_ORGANISATION_NAME
PROJECT_ORGANISATION_NAME=$(yq --exit-status '.project.organization.name' pom.xml | tr '[:upper:]' '[:lower:]' | tr ' ' '-' )
echo "   PROJECT_ORGANISATION_NAME : $PROJECT_ORGANISATION_NAME"
export PROJECT_ROOT
PROJECT_ROOT="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
echo "   PROJECT_ROOT              : $PROJECT_ROOT"


#################
# Shared repo
# The installation is done by cloning the repo to a well-known location.
#################
SHARED_REPO_DIR_VAR_NAME="GIT_${PROJECT_ORGANISATION_NAME}_SHARED_REPO_DIR"
SHARED_REPO_DIR=$(realpath "${!SHARED_REPO_DIR_VAR_NAME:-$PWD/../repo-shared}")
if [ ! -d "$SHARED_REPO_DIR" ]; then

    function echo::warning(){
        YELLOW="\033[0;33m"
        NO_COLOR="\033[0m"
        echo -e "${YELLOW}Warning: $1$NO_COLOR"
    }

    SHARED_REPO_URI_VAR_NAME="GIT_${PROJECT_ORGANISATION_NAME}_SHARED_REPO_URI"
    SHARED_REPO_URI="${!SHARED_REPO_URI_VAR_NAME:-https://github.com/combostrap/repo-shared}"
    echo::warning "Shared repo installation"
    echo::warning "Clone $SHARED_REPO_URI to $SHARED_REPO_DIR? Y(Yes-Default)/N(No)"
    read -r CLONE
    if [ "$CLONE" == "" ] || [ "$CLONE" == "Y" ]; then
        git clone "$SHARED_REPO_URI" "$SHARED_REPO_DIR"
        echo::warning "Shared repo cloned"
    fi

fi

# Exit if the repo was not installed
if [ ! -d "$SHARED_REPO_DIR" ]; then

    echo::warning "Shared repo not found/installed: Path, Bin and Git not configured"
    echo ""
    exit 1

fi

#################
# Update itself
#################
rsync "$SHARED_REPO_DIR/envrc/.envrc" "$PROJECT_ROOT/.envrc"

#################
# Bin
#################
echo ""
echo "Scripts: "
BIN_PATH="$SHARED_REPO_DIR/bin"
export PATH="$PATH:$BIN_PATH"
echo "   Scripts Path      : $BIN_PATH"

###################
# Git
###################
echo ""
echo "Git: "
# Git user config to set the user email and name.
"$SHARED_REPO_DIR/git/config/user"
# Git hooks configuration
GIT_HOOKS="$PROJECT_ROOT/.git-hooks"
"$SHARED_REPO_DIR/git/config/hooks" "$GIT_HOOKS"
# Install commit message hook
rsync "$SHARED_REPO_DIR/git/hooks/commit-msg" "$GIT_HOOKS/commit-msg"

# Last EOL before direnv output
echo ""

